@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  box-sizing: border-box;
  gap: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #f7f7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #000000;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color) ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  border: 1px solid #000000;
  border-radius: 0.5rem;
  padding: 0.2rem;
}